<div class="container" (window:resize)="onResize($event)">
    <md-grid-list class="unicornsList" [cols]="cols" gutterSize="26px" rowHeight="650px">
        <md-grid-tile *ngFor="let unicorn of unicorns" [colspan]="1" [rowspan]="1" class="md-elevation-z4">
            <a [routerLink]="['/'+appConstants.routes.UNICORN, unicorn.name]">
                <app-unicorn-card [unicorn]="unicorn"></app-unicorn-card>
            </a>
        </md-grid-tile>

    </md-grid-list>
    <a md-mini-fab class="addUnicorn" color="accent" title="create" [routerLink]="['/'+appConstants.routes.NEW_UNICORN]">
        <md-icon class="md-24">add</md-icon>
    </a>
</div>