.container {
    margin: 0 auto;
    width: 90%;
}

.unicornsList {
    display: flex;
    flex-wrap: wrap;
    padding-right: 26px;
}

a {
    text-decoration: none;
}

.addUnicorn {
    position: fixed;
    bottom: 26px;
    right: 16px;
    z-index: 2;
    color: white;
}