<img src="{{unicorn.picture}}" />
<div class="details-container">
    <h1>{{unicorn.name}}</h1>
    <div>
        <h2>Personal Info </h2>
        <div>
            <strong>Name:</strong> {{unicorn.name}}
        </div>
        <div>
            <div>
                <strong>Color:</strong> {{unicorn.color}}
            </div>
            <div class="display-color" [ngStyle]="{'background-color':'#'+unicorn.color}"> </div>
        </div>
        <div>
            <strong>Gender:</strong> {{unicorn.gender}}
        </div>
        <div>
            <strong>Age:</strong> {{unicorn.age}}
        </div>
    </div>

    <div *ngIf="unicorn.age >=5" class="form-container">
        <h2>Select Mate</h2>
        <form #mateForm='ngForm'>
            <md-select placeholder="Mate" name="mate" [(ngModel)]="mateName" required>
                <md-option *ngFor="let unicorn of matingUnicorns" [value]="unicorn.name">
                    {{unicorn.name}}
                    <span class="small-script"><strong>Gender: </strong>{{unicorn.gender}} </span>
                </md-option>
            </md-select>
            <button md-button md-raised-button color="accent" [disabled]="!mateForm.valid || isSubmited" (click)="mateUnicorns()">Mate</button>
        </form>
        <md-spinner *ngIf="isSubmited"></md-spinner>
    </div>
</div>