.success-toaster {
    background-color: green !important;
}

.error-toaster {
    background-color: #b20000 !important;
}

body {
    margin: 0;
    overflow-x: hidden;
}

md-spinner {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
}

:host input.md-input-element {
    color: red;
    font-size: 18px;
}